<div class="jumbotron">
  <h1>Bootstrap Tutorial</h1>
  <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing
    responsive, mobile-first projects on the web.</p>
</div>
<p>This is some text.</p>
<p>This is another text.</p>

<div class="text-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button id="count" type=" button" (click)="increment(number)" class=" btn btn-secondary">+</button>
    <button type="button" (click)="decrement(number)" class="btn btn-secondary">-</button>
</div>
<p>{{number}}</p>
</div>


 