<!-- <ul class="text-center p-0">
  <li class="list-group-item bg-light" *ngFor="let name of userNames;let i = index">
    <app-user-list-row 
	(onNewDelItem)="deleteItem($event)"
	[index]="i"
	[lastName]="localLastName"
	[userName]="name"></app-user-list-row>
  </li>
</ul> -->

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
	  <th scope="col">Email</th>
	  <th scope="col">Phone</th>
	  <th scope="col">Do Action</th>
    </tr>
  </thead>
  <tbody>
    <tr app-user-list-row class="shadow rounded h6" *ngFor="let name of userNames;let i = index"
      (onNewDelItem)="deleteItem($event)" [index]="i" [lastName]="localLastName" [userName]="name">
    </tr>
  </tbody>
</table>
